{% load static %}

<html xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'audisim/base/style_base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'audisim/base/main_banner.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'audisim/base/nav_menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'audisim/base/menu_lat.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'audisim/project/project_base.css' %}" />

</head>
<body>
{% include 'audisim/base/main_banner.html' %}
<div class="big_frame">
    {% include 'audisim/base/nav_menu.html' %}

    <div class="work_area">
        Inicio
    </div>
</div>
{% include 'audisim/base/bottom_banner.html' %}
</body>
</html>