<div class="menu_top">
    <div class="menu_top_op bar_top_index"> <a href="{% url 'index' %}" class="menu_top_text">Incio</a> </div>
    <div class="menu_top_op bar_top_projects"> <a href="{% url 'project_index' %}" class="menu_top_text">Proyectos</a> </div>
    <div class="menu_top_op bar_top_clients"><a href="{% url 'client_index' %}" class="menu_top_text">Clientes</a> </div>
    <div class="menu_top_op bar_top_users"> <a href="{% url 'user_index' %}" class="menu_top_text">Usuarios</a> </div>
</div>